<h1>Sign up for Bookshelf</h1>

<%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Sign Up" %>
<% end %>
<br>
<%= button_to "Sign Up with Google", '/auth/google_oauth2'  %>
